* {
    box-sizing: border-box;
}
header {
	height: 112px;
	padding-left: 165px;
    position: absolute;
    z-index: 1;
}
header a .header-logo { 
	display: inline-block;
}
header .menu {
	padding-left: 380px;
	display: inline-block;
	text-align: right;
}
header .menu-items li {
	display: inline-block;
	padding-right: 30px;
}
header .menu-items a {
	text-decoration: none;
	color: #262626;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	padding-top: 9px;
}
header .menu-items a:hover {
	border-top: 3px solid #ff6033;
}
main .info {
    padding-left: 165px;
	height: 800px;
    position: relative;
    background-image: url(images/header-img.jpg);
    background-position: 10%;
    padding-top: 258px;
}
main .info .info-text h1 {
    color: #262626;
    font-family: "Raleway - Heavy";
    font-size: 60px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 34px;
}
main .info .info-text p {
	color: #262626;
    font-family: Raleway;
	font-size: 17px;
	line-height: 27px;
	width: 34%;
	padding-bottom: 31px;
}
main .info .header-btn { 
	padding: 20px 25px;
	color: #fff;
	background-color: #ff6033;
	font-size: 20px;
	line-height: 27px;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 300;
	border: none;
}
main .info .header-btn:hover {
    background-color: #fff;
    color: #ff6033;
    border: 1px solid #ff6033;
}
main .info .info-scroll-icon {
	position: absolute;
    top: 85%;
    left: 50%;
}
main .about {
	background-color: #00c4c4;
	color: #fff;
    font-family: Raleway;
}
main img .about-img { 
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}
main .about .about-info {
	display: inline-block;
	width: 44%;
	vertical-align: top;
	padding-top: 200px;
	padding-left: 94px;
	line-height: 27px;
}
main .about .about-info h2 {
	font-size: 90px; 
	font-weight: 700; 
	padding-bottom: 34px;
}
main .about .about-info p {
	font-size: 17px; 
	font-weight: 300; 
	padding-bottom: 34px;
}
