* {
	box-sizing: border-box;
	font-family: Poppins;
}
header {
	display: block;
	width: 100%;
	padding: 0 10%;
	box-sizing: border-box;
	margin-top: 50px;
}
header .header-logo {
	width: 49%;
	font-size: 28px;
	text-decoration: none;
	color: #173A56;
	display: inline-block;
}
header .header-logo h3 {
	display: inline-block;
}
header nav {
	width: 49%;
	display: inline-block;
	width: 50%;
	display: inline-block;
}
header nav a {
	text-decoration: none;
	font-size: 14px;
	line-height: 28px;
	color: #173A56;
	margin-right: 32px;
}
header nav .header-sign-btn {
	display: inline-block;
}
header nav .header-sign-btn button {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	border-radius: 4px;
}
header nav .header-sign-btn button:first-child {
	margin-right:14px;
	border: 1px solid #173A56;
	box-sizing: border-box;
	padding: 11px 25px;
}
header nav .header-sign-btn button:first-child:hover {
	background-color: #FF9900;
	color:#fff;
}
header nav .header-sign-btn button:last-child {
	background-color: #FF9900;
	border-color: inherit;
	padding: 11px 25px;
	color: #fff;
}
header nav .header-sign-btn button:last-child:hover {
	background-color: #fff;
	color: #173A56;
}
main section, footer {
	padding: 4% 10%;
}
main .header .header-text {
	width: 49%;
	height: 23%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding-top: 50px;
}
main .header .header-text h1 {
	font-size: 44px;
	line-height: 54px;
	font-weight: bold;
	color: #2F281E;
}
main .header .header-text p {
	width: 450px;
	padding-top: 50px;
	font-size: 18px;
	line-height: 28px;
	color: #544837;
}
main .header .header-text button {
	background-color: #FF9900;
	margin-top: 58px;
	padding: 11px 25px;
	margin-right: 30px;
	color: #fff;
	border-radius: 4px;
	border-color: inherit;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}
main .header .header-text button:hover {
	background-color: #fff;
	color: #173A56;
}
main .header-text .arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17px;
	border-color: transparent transparent transparent #FF9900;
	margin-right: 8px;
	display: inline-block;
	vertical-align: middle;
}
main .header-text .arrow:hover {
	border-color: transparent transparent transparent #173A56;
}
main .header-text a {
	color: #FF9900;
	font-weight: semibold;
	font-size: 16px;
}
main .header-text a:hover {
	color: #173A56;
}
main .header-img {
	width: 49%;
	display: inline-block;
}
main .feature .feature-heading {
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	font-style: normal;
	color: #2F281E;
	width: 500px;
}
main .feature .feature-cards {
	padding-top: 68px;
	padding-left: 167px;
}
main .feature .feature-cards .card {
	display: inline-block;
	width: 17%;
	vertical-align: top;
	padding-right: 6%;
}
main .feature .feature-cards .card h3 {
	font-size: 22px;
	line-height: 33px;
	font-style: normal;
	font-weight: 600;
	color: #2F281E;
}
main .feature .feature-cards .card p {
	font-size: 16px;
	line-height: 26px;
	font-style: normal;
	font-weight: 500;
	color: #544837;
}
main .feature .feature-btn {
	padding-top: 35px;
	text-align: center;
}
main .feature .feature-btn button {
	background-color: #FF9900;
	padding: 11px 25px;
	border-radius: 4px;
	border-color: inherit;
	color: #fff;
	font-weight: bold;
}
main .feature .feature-btn button:hover {
	background-color: #fff;
	color: #173A56;
}
main .validation .validation-text {
	width: 49%;
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	color: #544837;
	vertical-align: top;
}
main .validation .validation-text p {
	width: 480px;
}
main .validation .validation-text h2 {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	color: #2F281E;
	margin-bottom: 25px;
}
main .validation .validation-text .validation-text-item {
	margin-bottom: 25px;
	margin-top: 36px;
}
main .validation .validation-text .validation-text-item p:first-child {
	padding-bottom: 12px;
	font-weight: 700;
	color: #2F281E;
}
main .validation .validation-img {
	width: 49%;
	display: inline-block;
}
main .PM .PM-img {
	width: 49%;
	display: inline-block;
}
main .PM .PM-text {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 26px;
}
main .PM .PM-text-item1 {
	width: 450px;
}
main .PM .PM-text h2 {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	color: #2F281E;
	padding-bottom: 22px;
}
main .PM .PM-text-item {
	padding-top: 30px;
}
main .PM .PM-text-item p {
	width: 370px;
	display: inline-block;
}
main .PM .PM-text-item .PM-icon {
	display: inline-block;
	padding-right: 30px;
}
.marketers-text {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 26px;
}
.marketers-text h2 {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	color:  #2F281E;
	padding-bottom: 22px;
}
.marketers-text-item {
	padding-top: 30px;
}
.marketers-img {
	width: 49%;
	display: inline-block;
}
.footer-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: top;
}
footer h3{
	width: 24%;
	display: inline-block;
	font-size: 28px;
	color: #173A56;
	vertical-align: top;
}
footer ul {
	display: inline-block;
	width: 24%;
	height: 205px;
	list-style: none;
}
footer ul a {
	text-decoration: none;
	font-size: 16px;
	line-height: 35px;
	color: #544837;
}
.footer-form {
	width: 24%;
	display: inline-block;
	vertical-align: bottom;
}
.footer-form input {
	width: 325px;
	height: 48px;
	margin-bottom: 21px;
}
.footer-btn {
	width: 131px;
	height: 39px;
	font-size: 16px;
	line-height: 24px;
	background-color: #FF9900;
	color: #fff;
	border-radius: 5px;
	font-weight: 700;
	border-color: #FF9900;
}
