body {
	box-sizing: border-box;
	font-family: Poppins;
}
header {
	display: block;
	width: 100%;
	padding: 0 145px;
	box-sizing: border-box;
}
header .header-logo {
	font-size: 28px;
	text-decoration: none;
	color: #173A56;
}
a h3 {
	display: inline-block;
}
header nav {
	width: 600px;
	float: right;
	margin-right: 32px;
	margin-top: 50px;
	
}
header nav a {
	text-decoration: none;
	font-size: 14px;
	line-height: 28px;
	color: #173A56;
	margin-right: 32px;	
}
header nav .header-sign-btn {
	display: inline-block;
	font-size: 16px;
	line-height: auto;
}
main section, footer {
	padding: 145px;
}
.header-img {
	float: right;
}
.header-text h1 {
	font-size: 44px;
	line-height: 54px;
	font-weight: bold;
	color: #2F281E;
}
.header-text p {
	font-size: 18px;
	line-height: 28px;
	color: #544837;
}